<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Tiny POS</title>
		<meta name="description" content="A very basic POS which records sale and automatically modifies inventory.">
		<meta name="author" content="Sherwin Rhey Condez">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="css/styles.css">

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body ng-app="sampleApp" ng-controller="SampleCtrl" ng-cloak>
	
		<div class="container">
		
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Add Stocks</div>
				</div>
				<div class="panel-body">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" ng-model="itemDescription" placeholder="Description" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" ng-model="itemStock" placeholder="Quantity" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" ng-model="itemPrice" placeholder="Price" class="form-control">
						</div>
						<button type="button" class="btn btn-success" ng-click="add(itemDescription, itemStock, itemPrice)">Add Stock</button>
					</form>
				</div>
			</div>
	
			<div class="row">
				<div class="col-sm-9 col-md-8">
					<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>Item Description</th>
									<th>Quantity</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="i in data">
									<td>{{ i.item }}</td>
									<td>{{ i.qty }}</td>
									<td>{{ i.price }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>